:root {
    --primary-color: #2b6653; /* 원하는 색상 코드로 변경하세요 */
}
@font-face {
    font-family: "soyob";
    font-weight: bold;
    src: url("./../public/fonts/SOYOB.ttf") format("truetype");
  }
  
@font-face {
    font-family: "soyor";
    font-weight: normal;
    src: url("./../public/fonts/SOYOR.ttf") format("truetype");
}
  
@font-face {
    font-family: "Poppins-Bold";
    font-weight: bold;
    src: url("./../public/fonts/Poppins-Bold.ttf") format("truetype");
  }
  
@font-face {
    font-family: "Poppins-Regular";
    font-weight: normal;
    src: url("./../public/fonts/Poppins-Regular.ttf") format("truetype");
}


body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins-Bold';
}
.main-wrapper{
    display: flex;
    flex-direction: row;
    width : 100vw;

}
.map{
    flex: 1;
    height: 100%;
}

.share-map{
    flex: 1;
    height: 100%;
}
.sidebar{
    width: 400px;
    height: 100%;
    background-color: rgba(43, 102, 83, .5);
}

.sidebar h2{
    padding : 8px;
    text-align: center;
    background-color: var(--primary-color);
    margin-bottom: 0;
    font-size: 30px;
    color: var(--primary-color);
    color: white;
    border-bottom: solid 1px lightgray;
    border-left: solid 1px lightgray;
    border-right: solid 1px lightgray;
}

.sidebar-item-wrapper{
    display: flex;
    flex-direction: row;
    height: 120px;
    padding: 8px;
    background-color: white;
}

.left-box{
    width: 35%;
}

.left-box img {
    width: 100%; /* Set the image width to 100% of its container */
    height: 100%; /* Set the image height to 100% of its container */
    object-fit: cover; /* Maintain the aspect ratio and cover the box */
}
.right-box{
    width: 65%;
    margin-left: 8px;
}

.jibun{
    font-size: 14px;
}
.title {
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
    color: gray;
    font-family: 'Poppins-Bold';
    font-size: 14px;
}

.roomtype{
    display: inline-block;
    background-color: lightgray;
    padding: 4px;
    border-radius: 4px;
    font-size: 10px;
    margin: 0;
}
.price{
    font-size: 24px;
    font-weight: 700;
}

.logo{
    height: 80px;
    padding: 8px;
}

.navbar-nav .nav-link {
    font-size: 20px;
    color: var(--primary-color);
    color: white;
}
.initial-nav{
    position: fixed;
}

.back-main-wrapper{
   
}

.first{
    position: relative;
    height: 100vh;
    background-color: #2b6653;
    background-image: url('./../public/first.jpg');
    background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
    background-position: center; /* 이미지를 가운데 정렬 */
    background-color: #2b6653;
}

.second{
    position: relative;
    height: 100vh;
    background-color: #2bFF53;
    background-image: url('./../public/second.jpg');
    background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
    background-position: center; /* 이미지를 가운데 정렬 */
    background-color: #2b6653;
}

.third{
    position: relative;
    height: 100vh;
    background-color: #2b9953;
    background-image: url('./../public/third.jpg');
    background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
    background-position: center; /* 이미지를 가운데 정렬 */
    background-color: #2b6653;
}

.fourth{
    position: relative;
    height: 100vh;
    background-color: #987212;
    background-image: url('./../public/fourth.jpg');
    background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
    background-position: center; /* 이미지를 가운데 정렬 */
    background-color: #2b6653;
}

.overlay-text {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%; /* 중앙 정렬을 위한 위치 조절 */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* 텍스트 색상 설정 */
    background-color: rgba(107, 107, 107, 0.7);
    align-items: center; /* 가로 중앙 정렬을 위해 추가 */
    justify-content: center; /* 세로 중앙 정렬을 위해 추가 */
    display: flex;
}

.inner-desc{
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    
}
.inner-desc h1{
    font-size: 84px;
}

.inner-desc p{
    margin-top: 48px;
    font-family: 'Poppins-Regular';
    font-weight: 700;
    font-size: 42px;
}

.skku-room{
    font-family: 'Poppins-Bold';
    color:#8DC63F;
    font-size: 60px;
    margin: 48px;
    padding: 0;
}

/* Add Room */
#add {
    display: grid;
    width: 100vw;
    grid-template-columns: 70% 30%;
  }
  
  .add-content {
    background-color: #2b6653;
    padding: 32px;
  }
  
  .add-map {
    background-color: #2bFF53;
  }
  
  .title-area {
    width: 100%;
    margin-top: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px;
  }
  
  .input-area {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
    background-color: aliceblue;
    padding: 12px;
  }
  
  .add-area {
    display: flex;
    flex-direction: column;
  }
  
  .add-title {
    font-size: 1.2em;
    padding: 8px;
  }
  
  .add-input {
    padding: 4px;
  }

 #title2 {
  grid-column: span 2; /* Each item spans two columns */
}

.add-map-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-map {
    border-radius: 48px; /* 원하는 반지름으로 설정 */
    overflow: hidden; /* 모서리를 둥글게 만들기 위해 overflow 속성을 추가 */
    width: 90%;
    height: 80%;
}