:root {
    --primary-color: #2b6653; /* 원하는 색상 코드로 변경하세요 */
    
}

.className::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

@font-face {
    font-family: "soyob";
    font-weight: bold;
    src: url("./../public/fonts/SOYOB.ttf") format("truetype");
  }
  
@font-face {
    font-family: "soyor";
    font-weight: normal;
    src: url("./../public/fonts/SOYOR.ttf") format("truetype");
}
  
@font-face {
    font-family: "Poppins-Bold";
    font-weight: bold;
    src: url("./../public/fonts/Poppins-Bold.ttf") format("truetype");
  }
  
@font-face {
    font-family: "Poppins-Regular";
    font-weight: normal;
    src: url("./../public/fonts/Poppins-Regular.ttf") format("truetype");
}


body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins-Bold';
    overflow-x: hidden;
    
}
.main-wrapper{
    display: flex;
    flex-direction: row;
    width : 100vw;
    height: calc(100vh - 80px);
    min-width: 900px;
    /* background-color: #2b6653; */

}
.map{
    flex: 1;
    height: 100%;
    background-color: #2b9953;
}

.share-map{
    flex: 1;
    height: 100%;
}
.sidebar{
    width: 400px;
    height: calc(100%);
    overflow-y: auto;
    
}

.sidebar h2{
    padding : 8px;
    text-align: center;
    background-color: var(--primary-color);
    margin-bottom: 0;
    font-size: 30px;
    color: white;

    border-bottom: solid 1px lightgray;
    border-left: solid 1px lightgray;
    border-right: solid 1px lightgray;
}

.sidebar-item-wrapper{
    display: flex;
    flex-direction: row;
    height: 120px;
    padding: 8px;
    background-color: white;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    margin: 8px;
}

.left-box{
    width: 35%;
}

.left-box img {
    width: 100%; /* Set the image width to 100% of its container */
    height: 100%; /* Set the image height to 100% of its container */
    border-radius: 20px;
    object-fit: cover; /* Maintain the aspect ratio and cover the box */
}
.right-box{
    width: 60%;
    margin-left: 8px;
}

.jibun{
    font-size: 14px;
}
.title {
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide overflow content */
    text-overflow: hidden; /* Display an ellipsis (...) when text overflows */
    color: gray;
    font-family: 'Poppins-Bold';
    font-size: 14px;
}

.roomtype{
    display: inline-block;
    background-color: lightgray;
    padding: 4px;
    border-radius: 4px;
    font-size: 10px;
    color: var(--primary-color);
    margin: 0;
}
.price{
    margin-top: 4px;
    font-size: 22px;
    font-weight: 700;
}
.jibun{
    font-size: 12px;
}
.title{
    font-size: 12px;
}

.logo{
    height: 80px;
    padding: 8px;
}


.navbar-nav .nav-link {
    font-size: 20px;
    color: var(--primary-color);
    color: white;
}
.initial-nav{
    position: fixed;
}

.back-main-wrapper{
}

.first{
    position: relative;
    height: 100vh;
    background-color: #2b6653;
    background-image: url('./../public/first.jpg');
    background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
    background-position: center; /* 이미지를 가운데 정렬 */
    background-color: #2b6653;
}

.second{
    position: relative;
    height: 100vh;
    background-color: #2bFF53;
    background-image: url('./../public/second.jpg');
    background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
    background-position: center; /* 이미지를 가운데 정렬 */
    background-color: #2b6653;
}

.third{
    position: relative;
    height: 100vh;
    background-color: #2b9953;
    background-image: url('./../public/third.jpg');
    background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
    background-position: center; /* 이미지를 가운데 정렬 */
    background-color: #2b6653;
}

.fourth{
    position: relative;
    height: 100vh;
    background-color: #987212;
    background-image: url('./../public/fourth.jpg');
    background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
    background-position: center; /* 이미지를 가운데 정렬 */
    background-color: #2b6653;
}

.overlay-text {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%; /* 중앙 정렬을 위한 위치 조절 */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* 텍스트 색상 설정 */
    background-color: rgba(107, 107, 107, 0.7);
    align-items: center; /* 가로 중앙 정렬을 위해 추가 */
    justify-content: center; /* 세로 중앙 정렬을 위해 추가 */
    display: flex;
}

.inner-desc{
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    
}
.inner-desc h1{
    font-size: 84px;
}

.inner-desc p{
    margin-top: 48px;
    font-family: 'Poppins-Regular';
    font-weight: 700;
    font-size: 42px;
}

.skku-room{
    font-family: 'Poppins-Bold';
    color:#8DC63F;
    font-size: 60px;
    margin: 48px;
    padding: 0;
}

/* Add Room */
#add {
    display: grid;
    width: 100vw;
    min-height: calc(100vh - 80px);
    background-color: var(--primary-color);
    grid-template-columns: 70% 30%;
    grid-auto-rows: 100vh;
    /* background-image: url(./../public/first.jpg); */
}
  /* 추가된 미디어 쿼리 */

  .add-content {
    overflow-y: auto;
    margin : 16px;
  }
  
  .add-map {
   
  }
  
  .title-area {
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px;
  }

  .title-area h1, h3{
    color: #FFFFFF;
  }
  
  .input-area {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
    background-color:  blanchedalmond;

    border-radius: 16px;
    padding: 12px;
  }
  


  
  .add-area {
    display: flex;
    flex-direction: column;
  }
  
  .add-title {
    font-size: 1.2em;
    padding: 8px;
    
  }
  
  .add-input {
    
    padding: 4px;
  }

 #title2 {
  grid-column: span 2; /* Each item spans two columns */
}


@media screen and (max-width: 768px) {
    #add {
      grid-template-columns: 1fr; /* 화면이 768px 이하로 작아지면 그리드 레이아웃을 1열로 변경 */
    }

  }
  @media screen and (max-width: 1000px) {
    .input-area {
        grid-template-columns: 1fr; /* 화면이 768px 이하로 작아지면 그리드 레이아웃을 1열로 변경 */
      }
    #title2{
        grid-column: 1;
    }

  }
.add-map-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}
.add-map {
    border-radius: 48px; /* 원하는 반지름으로 설정 */
    overflow: hidden; /* 모서리를 둥글게 만들기 위해 overflow 속성을 추가 */
    width: 90%;
    height: 80%;
}


.rounded-link {
    margin-right: 0;
    margin-left: 16px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 3px solid #ddd;
    color: #2b6653;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    float: right;
    
    
    &:hover {
      background-color: #f5f5f5;
    }
  }


.sign-wrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: var(--primary-color);
    background-image: url('./../public/fourth.jpg');
    background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
    background-position: center; /* 이미지를 가운데 정렬 */
    overflow-y: auto;
}

.sign-logo{
    margin-top: 32px;
    width : 400px;
    height : 250px;
    background-image: url('./../public/logowhite.png');
    background-size: cover; /* 이미지를 컨테이너에 맞게 조절 */
    background-position: center; /* 이미지를 가운데 정렬 */
    ;
}

.sign-area{
    width: 40%;
    margin-top: 16px;
    background-color: rgba(107, 107, 107, 0.7);
    border-radius: 16px;
    align-items: center;
}

.form-group{
    margin: 32px;
    display: flex;
    flex-direction: column;
}

.form-title {
    font-size: 1.2em;
    padding: 8px;
  }
  
.form-input {
    padding: 4px;
    margin: 4px;
    height: 48px;
 }


.custom-btn{
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 32px;
    height: 48px;
    width: 40%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins-Bold";
    font-size: 24px;
    color: white;
    text-align: center;
    background-color: #123213;
    font-family: "Poppins-Bold";
    border: 3px solid rgba(107, 107, 107, 0.7);
}

.contract-wrapper{
    display: flex;
    flex-direction: column;
    width : 100vw;
    height: calc(100vh - 80px);
    background-color: white;
    align-items: center;
    justify-content: center;
}

.contract-inner-wrapper{
    width: 90%;
    height: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contract-title-area{
    width: 100%;
    height:80px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contract-subtitle{
    font-size: 12px;
    font-family: "Poppins-Regular";
    color:var(--primary-color);
}

.contract-title{
    font-size: 32px;
    color:  var(--primary-color);
    
}


.contract-room{
    border-radius: 32px;
    background-color: #ddd;
    display: flex;
    overflow: hidden;
}

.contract-room img{
    flex-grow: 1;
    width: 100%;
    object-fit:cover;
}

.contract-room-area{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    grid-auto-rows: 300px;
    grid-gap: 24px;
    overflow: hidden;
    overflow-y: auto; /* 가로 스크롤 가능하도록 설정 */
   
}

.contract-room:nth-child(6n + 1) {
    grid-column: span 6; /* 6개의 열에 걸쳐서 배치 */
}
.contract-room:nth-child(6n + 2) {
    grid-column: span 3; /* 6개의 열에 걸쳐서 배치 */
}
.contract-room:nth-child(6n + 3) {
    grid-column: span 3; /* 6개의 열에 걸쳐서 배치 */
}

.contract-room:nth-child(6n + 4) {
    grid-column: span 4; /* 6개의 열에 걸쳐서 배치 */
}
.contract-room:nth-child(6n + 5) {
    grid-column: span 4; /* 6개의 열에 걸쳐서 배치 */
}
.contract-room:nth-child(6n ) {
    grid-column: span 4; /* 6개의 열에 걸쳐서 배치 */
}

@media screen and (max-width: 1050px) {
    .contract-room-area{
        grid-template-columns: repeat(6, 1fr) ;
    }
    .contract-room:nth-child(6n + 1) {
        grid-column: span 6; /* 6개의 열에 걸쳐서 배치 */
    }
    .contract-room:nth-child(6n + 2) {
        grid-column: span 3; /* 6개의 열에 걸쳐서 배치 */
    }
    .contract-room:nth-child(6n + 3) {
        grid-column: span 3; /* 6개의 열에 걸쳐서 배치 */
    }
    
    .contract-room:nth-child(6n + 4) {
        grid-column: span 2; /* 6개의 열에 걸쳐서 배치 */
    }
    .contract-room:nth-child(6n + 5) {
        grid-column: span 2; /* 6개의 열에 걸쳐서 배치 */
    }
    .contract-room:nth-child(6n ) {
        grid-column: span 2; /* 6개의 열에 걸쳐서 배치 */
    }
}


@media screen and (max-width: 840px) {
    .contract-room-area{
        grid-template-columns: repeat(1, 1fr) ;
    }
    .contract-room:nth-child(6n + 1) {
        grid-column: span 1; /* 6개의 열에 걸쳐서 배치 */
    }
    .contract-room:nth-child(6n + 2) {
        grid-column: span 1; /* 6개의 열에 걸쳐서 배치 */
    }
    .contract-room:nth-child(6n + 3) {
        grid-column: span 1; /* 6개의 열에 걸쳐서 배치 */
    }
    
    .contract-room:nth-child(6n + 4) {
        grid-column: span 1; /* 6개의 열에 걸쳐서 배치 */
    }
    .contract-room:nth-child(6n + 5) {
        grid-column: span 1; /* 6개의 열에 걸쳐서 배치 */
    }
    .contract-room:nth-child(6n ) {
        grid-column: span 1; /* 6개의 열에 걸쳐서 배치 */
    }
}


.custom-btn2{
    border-radius: 8px;
    margin-top : 16px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins-Bold";
    font-size: 24px;
    color: white;
    text-align: center;
    background-color: #123213;
    font-family: "Poppins-Bold";
    border: 3px solid rgba(107, 107, 107, 0.7);
}

.room-image{
    width: 90%;
    height: 100%;
    margin-top: 16px;


}

.room-image img{
    border-radius: 16px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.detail-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-jibun{
    margin-top: 16px;
    width: 90%;

   
}

.room-price {
    margin-top: 16px;
    width: 90%;

   
}

.room-price p{
    font-size: 32px;
    margin: 0;
}

.room-price span{
    font-size: 24px;
}

.room-title{
    margin-top: 8px;
    width: 90%;
    font-size: 16px;

}
.room-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.room-list{
    width: 90%;
    height: 48px;
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

.icon{
    height: 100%;
    width: 20px;
    
}

.room-list div{
    
    height: 90%;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contract-group{
    margin: 8px 16px;
    display: flex;
    flex-direction: column;
}

.contract-title {
    font-size: 1.2em;
  }
  
.contract-input {
    margin-top: 8px;
    padding: 4px;
    height: 48px;
 }

.contract-area{
    width: 100%;
    margin-top: 8px;
    background-color: rgba(255, 255,255, 0.7);
    border-radius: 16px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
    height: 100%;
    overflow: hidden;
}

.contract-title-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px;
  }

.contract{
    display: flex;
    flex : 1;
    flex-direction: column;
    height: 100%;
    background-color: rgba(107, 107, 107, 0.7);
    background-image: url("https://ifh.cc/g/2OFrRS.jpg");
}

#comment{
    grid-column: span 2; /* Each item spans two columns */
    
}

.custom3-btn{
    border-radius: 8px;
    margin-top: 16px;
   
    height: 48px;
    width: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins-Bold";
    font-size: 24px;
    color: white;
    text-align: center;
    background-color: #123213;
    font-family: "Poppins-Bold";
    border: 3px solid rgba(107, 107, 107, 0.7);
}

.custom-btn2{
    border-radius: 8px;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins-Bold";
    font-size: 24px;
    color: white;
    text-align: center;
    background-color: #123213;
    font-family: "Poppins-Bold";
    border: 3px solid rgba(107, 107, 107, 0.7);
}